.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.submainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
}

.containerFrete {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.containerFrete text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.progressBar {
  display: flex;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
}

.fretecontainer {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 20%;
  margin: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
}

@media (max-width: 1400px) {
  .fretecontainer {
    width: 45rem;
  }
}

.container {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 20%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  margin: 10px;
  border-radius: 7px;
}

@media only screen and (max-width: 1400px) {
  .container {
    width: 45rem;
    height: 10rem;
  }
}

.subcontainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 23rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  margin: 10px;
  margin-right: 1rem;
  border-radius: 7px;
}

@media only screen and (max-width: 1400px) {
  .subcontainer {
    width: 40%;
    height: 20rem;
  }
}

.item {
  display: flex;
  flex-direction: row;
}

.image {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 1400px) {
  .image img {
    width: 8rem;
    height: 9rem;
  }
}

.name {
  display: flex;
  font-size: 1rem;
  margin-left: 10px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 1400px) {
  .name {
    font-size: 0.9rem;
    width: 100%;
  }
}

.description {
  display: flex;
  font-size: 0.9rem;
  margin-left: 10px;
}

@media only screen and (max-width: 1400px) {
  .description {
    font-size: 0.8rem;
  }
}

.descriptionProduct {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.resumeProduct {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1rem;
  padding-bottom: 0.6rem;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.title {
  display: flex;
  font-size: 1.1rem;
  margin-left: 10px;
  font-weight: 600;
  margin-right: 1rem;
}

.price {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  font-weight: 500;
}

.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
}

@media only screen and (max-width: 1400px) {
  .quantity {
    margin-left: 4rem;
  }
}

.subtotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}

.quantity > span {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  .quantity > span {
    font-size: 0.9rem;
  }
}

.quantityContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1400px) {
  .quantityContainer {
    width: 90%;
  }
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 20%;
  background-color: transparent;
  border: none;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.number {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 20%;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
}

.containerValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10rem;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1400px) {
  .containerValue {
    margin-left: 5rem;
  }
}

.containerCep {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 15px;
  margin-top: 15px;
}

.containerSubtotal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1400px) {
  .containerSubtotal span {
    font-size: 1.1rem;
  }
}

.value {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  .value {
    font-size: 0.9rem;
  }
}

.titleSubcontainer {
  display: flex;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 1rem;
}

.input {
  display: flex;
  flex-direction: row;
}

.input button {
  display: flex;
  margin-left: 2rem;
  width: 6rem;
}

.input input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 7px;
}

.containerRemove {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.remove {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  margin-left: 9rem;
  font-size: 1.3rem;
  color: red;
}

@media only screen and (max-width: 1400px) {
  .remove {
    font-size: 1.1rem;
    margin-left: 3rem;
    margin-right: 1rem;
  }
}

.containerButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  gap: 10px;
}

@media only screen and (max-width: 1400px) {
  .containerButton {
    margin-top: 0.5rem;
  }
}

.buttonBuy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #14b8a6;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

@media only screen and (max-width: 1400px) {
  .buttonBuy {
    width: 80%;
    height: 40%;
  }
}

.buttonBuy:hover {
  background-color: #20ad9d;
}

.buttomContinueBuy {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 40%;
  padding: 1rem;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #14b8a6;
  cursor: pointer;
  font-size: 1rem;
}

@media only screen and (max-width: 1400px) {
  .buttomContinueBuy {
    width: 80%;
    height: 40%;
  }
}

.buttomContinueBuy:hover {
  background-color: #e6e7e7;
}

.frete {
  display: flex;
  margin-top: 0.1rem;
}

.frete input {
  display: flex;
  margin-left: auto;
  width: 60%;
}

.frete label {
  display: flex;
  font-size: 0.8rem;
}

.paymentContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  border-radius: 7px;
}

.payment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  gap: 4rem;
}

.payment button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background-color: #14b8a6;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 12px;
}

.payment button:hover {
  background-color: #0d9488;
}

.containerFormPayment {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  margin-top: 2rem;
}

.containerFormPayment input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  border-radius: 7px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.containerFormPayment label {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-radius: 7px;
  font-size: 1rem;
}

.formPayment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  margin-top: 1rem;
}

.select {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 90%;
  margin-bottom: 1rem;
}

.select select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  font-size: 1rem;
  padding: 0.6rem;
}

.titleTicket {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-left: 1rem;
}

.titleTicket h4 {
  display: flex;
  margin-top: 0;
  font-weight: 400;
}

.subTitleTicket {
  display: flex;
  font-size: 1rem;
  margin-left: 1rem;
}

.subTitleTicket h4 {
  margin-top: 0;
  font-weight: 400;
}

.subTitleTicket span {
  margin-top: 0;
  font-weight: 400;
}

.mainTotalTicket {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 7px;
  gap: 1rem;
}

.totalTicket {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 10rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.totalTicket h2 {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.totlaDiscontTicket {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 10rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 7px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.totlaDiscontTicket h2 {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
}

.containerButtonTicker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 2rem;
}

.buttonBack {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  border-radius: 7px;
  background-color: #e31212;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 12px;
}

.buttonBack:hover {
  background-color: #c31212;
}

.buttonConfirm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  border-radius: 7px;
  background-color: #14b8a6;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 12px;
}

.buttonConfirm:hover {
  background-color: #0d9488;
}
